<% include ./partials/header %>

<div class="row">
	<div class="col-md-12">
		<form action="/login" method="post" class="form-signin">
			<h1 class="h3 mb-3 font-weight-normal title">Please sign in</h1>
			<label for="inputUsername" class="sr-only">Username</label>
			<input type="text" id="inputEmail" class="form-control" name="username" placeholder="Username" required autofocus>
			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" id="inputPassword" class="form-control lastinput" name="password" placeholder="Password" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
			<p class="mt-5 mb-3 text-muted">&copy; YelpCamp 2018</p>
		</form>
		<div class="form-signin">
			<a href="/campgrounds" class="float-left">Go Back</a>
			<a href="/forgot" class = "float-right">Forget Password?</a>
		</div>
	</div>
</div>

<% include ./partials/footer%>