<% include ./partials/header%>

<div class="row">
    
    <div class="col-md-12">
        <form action="/register" method="post" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal title">Please sign up</h1>
           
            <input class="form-control" type="text" name="username" placeholder="username" autofocus required>
       
       
            <input class="form-control" type="password" name="password" placeholder="password" required>
        
        
            <input class="form-control" type="text" name="firstname" placeholder="First name">
        
        
            <input class="form-control" type="text" name="lastname" placeholder="Last name">
        
            <input class="form-control" type="email" name="email" placeholder="Email" required>
        
            <input class="form-control" type="text" name="avatar" placeholder="Avatar URL">
        
            <input class="form-control lastinput" type="text" name="adminCode" placeholder="admin code">
      
            <button class="btn btn-lg btn-primary btn-block">Sign Up!</button>
            <p class="mt-5 mb-3 text-muted">&copy; YelpCamp 2018</p>
            
        </form>
        <div class="form-signin">
            <a href="/campgrounds" class="text-left">Go Back</a>
        </div>
        
    </div>
</div>

<% include ./partials/footer%>